In [13]:
import pandas as pd

data = {
    "user_id": [1, 2],
    "name": ["alice", "bOB"]
}

users = pd.DataFrame(data)

users

   user_id   name
0        1  alice
1        2    bOB

In [ ]:
users["name"].str.upper()

0    ALICE
1      BOB
Name: name, dtype: object

In [16]:
users["name"].str.lower()

0    alice
1      bob
Name: name, dtype: object

In [19]:
users["name"].str[0].str.upper()

0    A
1    B
Name: name, dtype: object

In [23]:
users["name"].str[1:].str.lower()

0    lice
1      ob
Name: name, dtype: object

In [24]:
users["name"].str[0].str.upper() + users["name"].str[1:].str.lower()

0    Alice
1      Bob
Name: name, dtype: object

In [26]:
users["name"] = users["name"].str[0].str.upper() + users["name"].str[1:].str.lower()

users.sort_values(["user_id"])

   user_id   name
0        1  Alice
1        2    Bob