In [36]:
import pandas as pd

data = {
    "user_id": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "name": ["Winston1", "Winston2", "Winston3", "Jonathan", "Annabelle", "Sally", "Marwan", "David", "Shapiro", "Naftali"],
    "mail": [
        "winston@leetcode?com",
        "winston@leetcode.comAVD",
        "winston@leetcode.COM",
        "jonathanisgreat",
        "bella-@leetcode.com",
        "sally.come@leetcode.com",
        "quarz#2020@leetcode.com",
        "david69@gmail.com",
        ".shapo@leetcode.com",
        "Naftali@JQQPcQcHLG@leetcode.com"
    ]
}

users = pd.DataFrame(data)

users

   user_id       name                             mail
0        1   Winston1             winston@leetcode?com
1        2   Winston2          winston@leetcode.comAVD
2        3   Winston3             winston@leetcode.COM
3        4   Jonathan                  jonathanisgreat
4        5  Annabelle              bella-@leetcode.com
5        6      Sally          sally.come@leetcode.com
6        7     Marwan          quarz#2020@leetcode.com
7        8      David                david69@gmail.com
8        9    Shapiro              .shapo@leetcode.com
9       10    Naftali  Naftali@JQQPcQcHLG@leetcode.com

In [37]:
domain_filter = users[users["mail"].str.contains("@leetcode.com", regex=False, case=False)] # case=False serve para ignorar diferença entre maiúsculas e minúsculas

domain_filter

   user_id       name                             mail
1        2   Winston2          winston@leetcode.comAVD
2        3   Winston3             winston@leetcode.COM
4        5  Annabelle              bella-@leetcode.com
5        6      Sally          sally.come@leetcode.com
6        7     Marwan          quarz#2020@leetcode.com
8        9    Shapiro              .shapo@leetcode.com
9       10    Naftali  Naftali@JQQPcQcHLG@leetcode.com

In [38]:
domain_filter_2 = users[users["mail"].str.endswith("@leetcode.com")] # .str.endswith() é um método para verificar se cada valor de uma coluna de strings termina com um determinado sufixo.

domain_filter_2

   user_id       name                             mail
4        5  Annabelle              bella-@leetcode.com
5        6      Sally          sally.come@leetcode.com
6        7     Marwan          quarz#2020@leetcode.com
8        9    Shapiro              .shapo@leetcode.com
9       10    Naftali  Naftali@JQQPcQcHLG@leetcode.com

In [39]:
users["mail"].str[0] # Mostra o primeiro caractere do e-mail

0    w
1    w
2    w
3    j
4    b
5    s
6    q
7    d
8    .
9    N
Name: mail, dtype: object

In [40]:
first_letter = users[users["mail"].str[0].str.isalpha()] # isalpha() verifica se todos os caracteres da string são letras (A-Z ou a-z), sem espaços, números ou símbolos

first_letter

   user_id       name                             mail
0        1   Winston1             winston@leetcode?com
1        2   Winston2          winston@leetcode.comAVD
2        3   Winston3             winston@leetcode.COM
3        4   Jonathan                  jonathanisgreat
4        5  Annabelle              bella-@leetcode.com
5        6      Sally          sally.come@leetcode.com
6        7     Marwan          quarz#2020@leetcode.com
7        8      David                david69@gmail.com
9       10    Naftali  Naftali@JQQPcQcHLG@leetcode.com

In [41]:
users["mail"].str.split("@").str[0] # split() serve para dividir uma string em várias partes, usando um separador

0            winston
1            winston
2            winston
3    jonathanisgreat
4             bella-
5         sally.come
6         quarz#2020
7            david69
8             .shapo
9            Naftali
Name: mail, dtype: object

In [42]:
users["mail"].str.count("@") # count() serve para contar a quantidade de um caractere

0    1
1    1
2    1
3    0
4    1
5    1
6    1
7    1
8    1
9    2
Name: mail, dtype: int64

In [43]:
users["domain_is_leetcode"] = users["mail"].str.endswith("@leetcode.com")
users["start_with_letter"] = users["mail"].str[0].str.isalpha()
users["only_character_valid"] = users["mail"].str.split("@").str[0].str.contains(r"[^a-zA-Z0-9@._-]", regex=True, na=False) == False # Verifica somente os caracteres válidos; regex=True => será interpretado como regex; na=False => qualquer valor ausente seja tratado como False
users["one_at"] = users["mail"].str.count("@") == 1

users

,user_id,name,mail,domain_is_leetcode,start_with_letter,only_character_valid,one_at
0,1,Winston1,winston@leetcode?com,False,True,True,True
1,2,Winston2,winston@leetcode.comAVD,False,True,True,True
2,3,Winston3,winston@leetcode.COM,False,True,True,True
3,4,Jonathan,jonathanisgreat,False,True,True,False
4,5,Annabelle,bella-@leetcode.com,True,True,True,True
5,6,Sally,sally.come@leetcode.com,True,True,True,True
6,7,Marwan,quarz#2020@leetcode.com,True,True,False,True
7,8,David,david69@gmail.com,False,True,True,True
8,9,Shapiro,.shapo@leetcode.com,True,False,True,True
9,10,Naftali,Naftali@JQQPcQcHLG@leetcode.com,True,True,True,False

In [44]:
users_with_email_valid =  users[
    (users["mail"].str.endswith("@leetcode.com")) &
    (users["mail"].str[0].str.isalpha()) &
    (users["mail"].str.split("@").str[0].str.contains(r"[^a-zA-Z0-9@._-]", regex=True, na=False) == False) &
    (users["mail"].str.count("@") == 1)
]

users_with_email_valid

,user_id,name,mail,domain_is_leetcode,start_with_letter,only_character_valid,one_at
4,5,Annabelle,bella-@leetcode.com,True,True,True,True
5,6,Sally,sally.come@leetcode.com,True,True,True,True

In [45]:
users_with_email_valid[["user_id","name","mail"]]

   user_id       name                     mail
4        5  Annabelle      bella-@leetcode.com
5        6      Sally  sally.come@leetcode.com