In [1]:
import pandas as pd

data = {
    "user_id": [1, 2, 3, 4, 5, 6, 7],
    "name": ["Winston", "Jonathan", "Annabelle", "Sally", "Marwan", "David", "Shapiro"],
    "mail": [
        "winston@leetcode.com",
        "jonathanisgreat",
        "bella-@leetcode.com",
        "sally.come@leetcode.com",
        "quarz#2020@leetcode.com",
        "david69@gmail.com",
        ".shapo@leetcode.com"
    ]
}

users = pd.DataFrame(data)

users

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
1        2   Jonathan          jonathanisgreat
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com
4        5     Marwan  quarz#2020@leetcode.com
5        6      David        david69@gmail.com
6        7    Shapiro      .shapo@leetcode.com

In [7]:
domain_filter = users[users["mail"].str.contains("@leetcode.com", case=False)] # case=False serve para ignorar diferença entre maiúsculas e minúsculas

domain_filter

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com
4        5     Marwan  quarz#2020@leetcode.com
6        7    Shapiro      .shapo@leetcode.com

In [ ]:
users["mail"].str[0] # Mostra o primeiro caractere do e-mail

0    w
1    j
2    b
3    s
4    q
5    d
6    .
Name: mail, dtype: object

In [ ]:
first_letter = users[users["mail"].str[0].str.isalpha()] # isalpha() verifica se todos os caracteres da string são letras (A-Z ou a-z), sem espaços, números ou símbolos

first_letter

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
1        2   Jonathan          jonathanisgreat
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com
4        5     Marwan  quarz#2020@leetcode.com
5        6      David        david69@gmail.com

In [ ]:
users["mail"].str.split("@").str[0] # split() serve para dividir uma string em várias partes, usando um separador

0            winston
1    jonathanisgreat
2             bella-
3         sally.come
4         quarz#2020
5            david69
6             .shapo
Name: mail, dtype: object